@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


:root {
  --font-family: 'Lato', sans-serif;
  --font-family-head: 'Rufina', serif;

  --color-secondary-rgb: #dfc2a4;
  --color-tertiary: #e0c2a3;
  
  --color-bg: #e8e4d6;
  --color-text: #050505;
  --color-text-light: #fff;
  --color-subtext: #684537;
  --color-btn-text: #fff;
  --color-btn-bg: #393637;
}

html{
  font-size: 17px;
}


h1,h2,h3,h4,h5,.font-heading {
  font-family: 'Rufina', serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}


a::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  left: 0;
  background-color: var(--color-btn-bg);
  transition: width 0.25s ease-in-out ;
}

a:hover::before,
a:active::before,
a:focus::before{
  width: 100%;
}


.btn{
  display: inline-block;
  border: 2px solid var(--color-btn-bg);
  border-radius: 50px;
  background-color: var(--color-btn-bg);
  padding: 0.5rem 2rem;

  font-family: var(--font-family);
  font-weight: 700;
  color: var(--color-text-light);
  transition: all 0.25s ease-in ;
}

.btn::before{
  display: none;
}

.btn:hover,
.btn:active,
.btn:focus{
  background-color: var(--color-subtext);
  border-color: var(--color-subtext);
}

.btn-trans{
  background-color: transparent;
  color: var(--color-btn-bg);
}

.btn-trans:hover,
.btn-trans:active,
.btn-trans:focus{
  background-color: var(--color-subtext);
  border-color: var(--color-subtext);
  color: var(--color-text-light);
}


.section__padding{
  padding: 2rem;
}

.section__padding-lx{
  padding: 4rem 2rem;
}


/* headings */
.heading{
  font-size: 24px;
}

.paragraph{
  font-size: 17px;
  font-family: var(--font-family);
}


/* Tablet */

@media (min-width: 768px){
  .section__padding{
    padding: 3rem;
  }

  .small{
    display: none;
  }

  .heading {
    font-size: 36px;
  }

  .paragraph {
    font-size: 19px;
  }
}


@media (min-width: 1024px){
  .section__padding{
    padding: 4rem;
  }


  .section__padding-lx{
    padding: 7rem 4rem;
  }

  .heading {
    font-size: 48px;
  }

  .paragraph {
    font-size: 24px;
  }

  p,a,.btn{
    font-size: 19px; 
  }
}


/* lx screen */

@media (min-width: 1280px){
  .heading {
    font-size: 52px;
  }

  .paragraph {
    font-size: 36px;
  }
}


/* 2lx screen */

@media (min-width: 1536px){
  .section__padding{
    padding: 5rem;
  }

  .section__padding-lx{
    padding: 9rem 5rem;
  }

  .heading {
    font-size: 64px;
  }

  .paragraph {
    font-size: 48px;
  }
}
