.banner__image img {
  width: 100%;
}

.banner__content .heading{
  font-style: italic;
}


/* Tablet */

@media (min-width: 768px){
  .banner__image{
    width: 50%;
    flex: 0 0 auto;
  }

  .banner__content{
    text-align: right;
  }
  
}



/* lx screen */

@media (min-width: 1280px){
  .banner{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .banner__content.section__padding{
    padding-right: 5rem;
  }

  .banner__image {
    width: 40%;
  }
}